.pagination-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.pagination-info{
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  filter: brightness(.8);
}
.pagination-container .pagination{
  display: flex;
  color: #fff;
  gap: .4rem;
}
.pagination-container .pagination button{
  padding: .5rem;
  color: #fff;
  background-color: var(--secodary-color);
  border-radius: .5rem;
}

@media (orientation: portrait) {
  .pagination-info{

    font-size: 16px;

  }
}
/* .pagination_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
}
.pagination {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  gap: 5px;
  justify-content: end;
  padding: 0;
}

.pagination li {
  text-align: center;
}

.pagination li button {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.pagination_wrapper .prev_next {
  border-radius: 3px;
  border: 1px solid #5f5f5f;
}
.pagination li.active button {
  background-color: var(--first-color);
  color: #fff;
  border-color: var(--first-color);
}

.pagination li button:hover {
  background-color: #f0f0f0;
}
@media (orientation: portrait) {
  .pagination_wrapper {
    display: block;
  }

  .pagination {
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  }
  .pagination li button {
    display: block;
    padding: 3px 8px;
  }
} */
