.file_upload_input[type="file"] {
    display: none;
}
.preview_image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .9375rem;
    width: 100%;
    margin-top: .7375rem;
}
.preview_image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    
}

